
.Todo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 12px 0;
  background-color: #ffddd2;
  
  width:50%;
  height:100vh;
  border-radius: 40px;
  margin-top: 10px;
  margin-bottom:10px;
}

.defTodo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* padding: 12px 0; */
  background-color: #ffddd2;
  
  width:50%;
  height:100vh;
  border-radius: 40px;
  margin-top: 10px;
  margin-bottom:10px;

}
.btn {
  
  color: #b5838d!important;
  font-weight: bolder;
  padding: 14px 20px;
  margin: 8px;
  border-radius: 40px;
  border-style: none;
  
}
h1{
  color: #b5838d !important;
  margin-top:20px !important;
}

.formInput{
  margin:8px;
  padding: 8px;
  border-radius: 40px;
border-style:none;
color:#6d6875 !important;

}

.formDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
}
.none {
  display: none;
}
.authBtns{
  display: flex;
  justify-content: center;
  align-items: center;

 
}
.authbtn{
  color: #b5838d!important;
  text-decoration: none;
  margin-right:5px;
}
