.App {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  width:100%
}

.Todo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 12px 0;
  background-color: #ffddd2;
  width:50%;
  height:80vh;
}
.btn {
  background-color: #ffb4a2;
  color: white;
  padding: 14px 20px;
  margin: 8px;
  border-radius: 40px;
  border-style: none;
  font-weight: bolder;
}
h1{
  color: #ffb4a2;;
}

.formInput{
  margin:8px;
  padding: 8px;
  border-radius: 40px;
border-style:none;

}
